# Getting song list

You have find data on the internet about currently popular songs. 

https://playback.fm/charts
http://www.popvortex.com/music/charts/top-100-songs.php

It's a good place to start! Scrape the current top 100 songs and their respective artists, and put the information into a pandas dataframe.

# Importing libraries

In [1]:
from bs4 import BeautifulSoup
import pandas as pd
import requests

# Getting content of the pages

In [2]:
url1 = "https://playback.fm/charts/rock/2021"
url2 = "http://www.popvortex.com/music/charts/top-100-songs.php"

In [3]:
response1 = requests.get(url1, headers = {"Accept-Language": "en-US"})

In [4]:
response2 = requests.get(url2, headers = {"Accept-Language": "en-US"})

In [5]:
print(response1.status_code)
print(response2.status_code)

200
200

# Parsing

In [6]:
soup1 = BeautifulSoup(response1.content, 'html.parser')
soup2 = BeautifulSoup(response2.content, 'html.parser')

In [7]:
# soup1

# For playback.fm

In [8]:
# Try selector
soup1.select('#myTable a .song')[0].get_text()

'Waiting On A War'

In [9]:
soup1.select('#myTable .artist')[0].get_text().strip().replace('\n','')

'Foo Fighters'

In [10]:
selection = soup1.select('#myTable a .song')

In [11]:
# Songlist
songs = []
artist = []
for i in range(len(selection)):
    songs.append(selection[i].get_text())
    artist.append(soup1.select('#myTable .artist')[i].get_text().strip().replace('\n',''))

In [12]:
songs_pbfm = pd.DataFrame({"title":songs,
                       "artist":artist,
                      })
display(songs_pbfm)

                          title                            artist
0              Waiting On A War                      Foo Fighters
1                      Monsters  All Time Low featuring blackbear
2                          Mood      24kGoldn featuring iann Dior
3                    Follow You                   Imagine Dragons
4                    Heat Waves                     Glass Animals
..                          ...                               ...
95             Know That I Know                  Lake Street Dive
96                  SugarCrash!                           ElyOtto
97  I Am Not A Woman, I'm A God                            Halsey
98             Trouble’s Coming                       Royal Blood
99                        Exile   Taylor Swift featuring Bon Iver

[100 rows x 2 columns]

# For popvortex

In [13]:
# soup2

#### Creating lists

In [14]:
titles = []
artists = []

In [15]:
for t in range(len(soup2.select('.title'))):
    titles.append(soup2.select('.title')[t].get_text())

In [16]:
for a in range(len(soup2.select('.artist'))):
    artists.append(soup2.select('.artist')[a].get_text())

In [17]:
songs = pd.DataFrame({"title":titles,
                       "artist":artists,
                      })
display(songs)

                                             title                  artist
0   Separate Ways (Worlds Apart) [feat. Lzzy Hale]                Daughtry
1                                           Unholy  Sam Smith & Kim Petras
2                                        Anti-Hero            Taylor Swift
3                               Heart Like A Truck           Lainey Wilson
4                                  Son Of A Sinner              Jelly Roll
..                                             ...                     ...
94                     He Stopped Loving Her Today            George Jones
95                                         CUFF IT                 Beyoncé
96                                       Bad Habit              Steve Lacy
97                                           10:35     Tiësto & Tate McRae
98                                           Fenty    French Montana & NAV

[99 rows x 2 columns]

# Saving

In [18]:
songs.to_csv('top100.csv', index = False)

In [19]:
songs_pbfm.to_csv('pbfm.csv', index = False)